<section id="event-detail" class="noo-page-heading has_breadcrumbs" style="background-image: url(/_assets/images/event/{{id}}.jpg);">
	<div class="container"></div> 
</section>
<div class="main-content container">
	<div class="row">
		<div class="noo-main col-md-9">
			<div class="single-event">
                {% assign str_name = name | split: '|' -%}
				{% assign amnt = str_name | last -%}
				<h2 class="title">{{str_name | first}}</h2>
				<div class="single-events-schedule">
					<h3 class="date">
						<i class="fa fa-clock-o"></i>
						<span class="event-date-start">{{date | date: "MMMM dd, yyyy"}}</span>
					</h3>
					{%comment-%}<span class="events-cost"><i class="fa fa-money"></i>$22 - $66</span>{%endcomment-%}
				</div>
				<div class="single-event-content">
                    {% assign data_str = "" -%}

                    <p style="color: rgb(155, 214, 208);"><strong><strong style="font-size: 20px;"><strong>BOOK YOUR TICKETS NOW</strong></strong>
    </strong>
</p>
<table>
    <tbody>
        <tr>
            <td>
                <input type="hidden" name="on0" value="Secure Online Payment">Secure Online Payment</td>
        </tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="Standard">Standard $169.78 AUD</option>
                    <option value="VIP">VIP $226.38 AUD</option>
                </select>
            </td>
        </tr>
    </tbody>
</table><strong><em><input type="hidden" name="currency_code" value="AUD"><input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1"> </em> </strong>
<p><em style="font-size: 14px;"><em>Edit quantity in Cart. &nbsp;Card payments- surcharge of 2.9% per ticket</em></em>&nbsp;</p>
<p>OR<span style="font-size: 24px;">&nbsp;</span><span style="color: rgb(155, 214, 208); background-color: rgb(255, 255, 255); font-size: 24px;" font-size:=" " 20px;="" "="
    ">PAY VIA EFT</span></p><p><em>Complete the booking form at the bottom of this page to receive EFT transfer details by e-mail<br /></em>Tickets are not refundable.</p>

					{tag_body}	
                    <div style="display: none;">
                        <p>EFT: {{eft_fee}} <br />CC: {{cc_fee}}</p>
                        <p>({{data_str}}) <br />Discount Code 1: {{dscnt_code_1}} / %{{dscnt_percent_1}}<br />
                            Discount Code 2: {{dscnt_code_2}} / %{{dscnt_percent_2}}<br />
                        Discount Code 3: {{dscnt_code_3}} / %{{dscnt_percent_3}}</p>
                    </div>
					<div class="clearB"></div>
				</div>
			</div>
			<div class="single-event">
				<div class="btn-wrap">
					<a href="#frm-booking" class="btn-primary fancy-book" title="{{str_name | first}}">Book Now</a>
					<div class="form-event" style="display: none;" id="frm-booking">
						<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b2190.r501568-phase1"></script>
						<form id="multi-form-booking" name="catwebformform7600" method="post" onsubmit="return checkWholeForm7600(this)" enctype="multipart/form-data" action="https://pandpeventi.worldsecuresystems.com/FormProcessv2.aspx?WebFormID=10254&OID={module_oid}&OTYPE={module_otype}&EID={module_eid}&CID={module_cid}&CC={module_urlcountrycode}&Referrer={module_siteurl,true,true}">
						
							<div class="multi-form">
									<section class="mf-personal">
										<div class="row">
											<div class="col-md-6">
												<h4>Personal Details</h4>
												<input type="text" name="FirstName" id="FirstName" class="cat_textbox txtbox-small" placeholder="First Name" maxlength="255" />
												<input type="text" name="LastName" id="LastName" placeholder="Last Name" class="cat_textbox txtbox-small" maxlength="255" />
												<input type="text" name="EmailAddress" id="EmailAddress" placeholder="Email Address" class="cat_textbox" maxlength="255" />
												<input type="text" name="Company" id="Company" placeholder="Company" class="cat_textbox" maxlength="255" />
												<input type="text" name="WorkPhone" id="WorkPhone" placeholder="Phone Number" class="cat_textbox" maxlength="255" />										
											</div>
											<div class="col-md-6">
												<h4>Address</h4>
												<input type="text" name="BillingAddress" id="BillingAddress" placeholder="Billing Address" class="cat_textbox" maxlength="500" />
												<input type="text" name="BillingCity" id="BillingCity" placeholder="City" class="cat_textbox" maxlength="255">
												<input type="text" name="BillingState" id="BillingState" placeholder="State" class="cat_textbox txtbox-small" maxlength="255" />
												<input type="text" name="BillingZip" id="BillingZip" placeholder="Postcode" class="cat_textbox txtbox-small" maxlength="255" />
												<select name="BillingCountry" id="BillingCountry" class="cat_dropdown hidden">
													<option value="AU" selected="selected">AUSTRALIA</option>
												</select>										
											</div>
										</div>
									</section>
									<section class="mf-payment">
										<div class="row">
											<div class="col-md-12">
												<h4>Payment and Other Details</h4>
											</div>
											<div class="col-md-6">
											<select name="CAT_Custom_20086094" id="CAT_Custom_20086094" class="cat_dropdown">
												<option value=" ">-- Quantity of tickets --</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
											</select>
											<textarea name="ShippingInstructions" id="ShippingInstructions" placeholder="Comments & Requests" cols="10" rows="4" class="cat_listbox"></textarea>
											</div>
											<div class="col-md-6">
												<label>Payment Method <span class="req">*</span></label>
												<br />
												<input checked="checked" type="radio" name="PaymentMethodType" id="PaymentMethodType_1" value="1" />Credit Card (Coming Soon)
												{%comment-%}
												<br />
												<input type="radio" name="PaymentMethodType" id="PaymentMethodType_7" value="7" />Hosted Credit Card (remove if not required)
												<br />
												<input type="radio" name="PaymentMethodType" id="PaymentMethodType_9" value="9" />Gift Voucher
												{%endcomment-%}
												<br />
												<input type="radio" name="PaymentMethodType" id="PaymentMethodType_3" value="3" />EFT
												<br />
												{%comment-%}<input type="radio" name="PaymentMethodType" id="PaymentMethodType_5" value="5" />PayPal {%endcomment-%}

											</div>
										</div>
									</section>
									<section>
										<div class="row">
											<div class="col-md-6">
												<label>Name on Card</label><br />
												<input type="text" name="CardName" id="CardName" class="cat_textbox" autocomplete="off" />
												<label>Card Number</label>
												<input type="text" name="CardNumber" id="CardNumber" class="cat_textbox" autocomplete="off" />	
												<div class="row">
													<div class="col-md-12">
														<label>Card Expiry <span class="req">*</span></label>
														<br />
													</div>
													<div class="col-md-6">
														<select name="CardExpiryMonth" id="CardExpiryMonth" class="cat_dropdown_smaller select-small">
															<option value="01">01</option>
															<option value="02">02</option>
															<option value="03">03</option>
															<option value="04">04</option>
															<option value="05">05</option>
															<option value="06">06</option>
															<option value="07">07</option>
															<option value="08">08</option>
															<option value="09">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>													
													</div>
													<div class="col-md-6">
														<select name="CardExpiryYear" id="CardExpiryYear" class="cat_dropdown_smaller select-small">
															<option value="2015">2015</option>
															<option value="2016">2016</option>
															<option value="2017">2017</option>
															<option value="2018">2018</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
															<option value="2023">2023</option>
														</select>													
													</div>
												</div>

											</div>
											<div class="col-md-6">
												<label for="CardType">Card Type <span class="req">*</span>
												</label>
												<br />
												<select name="CardType" id="CardType" class="cat_dropdown">
													<option value="1">Visa</option>
													<option value="2">Mastercard</option>
													<option value="3">Bank Card</option>
													<option value="4">American Express</option>
													<option value="5">Diners Club</option>
													<option value="6">JCB</option>
												</select>
												<label for="CardCCV">CCV Number <span class="req">*</span>
												</label>
												<br />
												<input type="text" name="CardCCV" id="CardCCV" class="cat_textbox" autocomplete="off" />	
												
												<div class="amnt_wrap">
												<h5>Price Options</h5>
												{% assign amnt_item = amnt | remove: ' ' | split: '/' -%}
												{% assign amntz = amnt | remove: ' ' | split: '/' | size -%}
												{% assign init_amnt = 0 -%}
												{% if amntz > 1 -%}
													{% for item in amnt_item -%}
													
													<div class="amount-option"><input type="radio" name="amout_option" id="amount_option_{{forloop.index}}" value="{{item}}" {% if forloop.first -%}checked {% assign init_amnt = item -%}{% endif -%} /><label for="amount_option_{{forloop.index}}">${{item}}</label></div>
													{% endfor -%}
												{% else -%}
													{% assign init_amnt = amnt_item -%}
													<div class="amount-option"><input type="radio" name="amout_option" id="amount_option_1" value="{{amnt_item}}" checked /><label for="amount_option_1">${{amnt_item}}</label></div>
												{% endif -%}
													<input type="text" name="BookingAllocation" id="BookingAllocation" class="hidden" />
													<div class="amnt">
														<div class="add-amnt">
															
														</div>
														<div class="total-amnt">
															<span>Total:</span><input type="text" name="Amount" id="Amount" class="cat_textbox" value="{{init_amnt}}" readonly />														
														</div>
													</div>

												</div>
											</div>
										</div>
									</section>
									<section>
										<input class="cat_button" type="submit" value="Submit" id="catwebformbutton" />		
									</section>
							</div>
							<script type="text/javascript">
								//<![CDATA[
								var submitcount7600 = 0;
								
								function checkWholeForm7600(theForm) {
									var why = "";
									
									if (!isNaN(theForm.CAT_Custom_20086094.value)) 
									{
										theForm.Amount.value = theForm.amout_option.value * theForm.CAT_Custom_20086094.value
										theForm.BookingAllocation.value = theForm.CAT_Custom_20086094.value
									}
									console.log(theForm.BookingAllocation.value);
									if (theForm.FirstName) why += isEmpty(theForm.FirstName.value, "First Name");
									if (theForm.LastName) why += isEmpty(theForm.LastName.value, "Last Name");
									if (theForm.EmailAddress) why += checkEmail(theForm.EmailAddress.value);
									if (theForm.BillingAddress) why += isEmpty(theForm.BillingAddress.value, "Billing Address");
									if (theForm.BillingCity) why += isEmpty(theForm.BillingCity.value, "Billing City");
									if (theForm.BillingState) why += isEmpty(theForm.BillingState.value, "Billing State");
									if (theForm.BillingZip) why += isEmpty(theForm.BillingZip.value, "");
									if (theForm.BillingCountry) why += checkDropdown(theForm.BillingCountry.value, "Billing Country");
									if (theForm.ShippingInstructions) why += isEmpty(theForm.ShippingInstructions.value, "Shipping Instructions");
									if (theForm.PaymentMethodType) why += checkSelected(theForm.PaymentMethodType, "Payment Method");
									if (!theForm.PaymentMethodType || getRadioSelected(theForm.PaymentMethodType) == 1) {
										if (theForm.CardName) why += isEmpty(theForm.CardName.value, "Name on Card");
										if (theForm.CardNumber) why += isNumeric(theForm.CardNumber.value, "Card Number");
										if (theForm.Amount) why += isCurrency(theForm.Amount.value, "Amount");
									}
									if (theForm.CAT_Custom_20086094) why += checkDropdown(theForm.CAT_Custom_20086094.value, "Quantity of tickets");
									if (why != "") {
										alert(why);
										return false;
									}
									if (submitcount7600 == 0) {
										submitcount7600++;
										theForm.submit();
										return false;
									} else {
										alert("Form submission is in progress.");
										return false;
									}
								}
								//]]>
							</script>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="noo-sidebar col-md-3">
			<div class="noo-sidebar-wrap">

				{%comment-%}
				<div class="widget widget-event-organizer">
					<h3 class="widget-title">Organizer</h3>
					<dl>
						<dt>Organizer: </dt>
						<dd class="organizer">
							<a href="#">John Doe</a>
						</dd>
						<dt>Phone: </dt>
						<dd class="organizer-tel">
							012 3652 659
						</dd>
						<dt>Email: </dt>
						<dd class="organizer-email">
							email@domain.com 
						</dd>
						<dt>Website: </dt>
						<dd class="organizer-url">
							<a href="#" target="_self">domain.com</a>
						</dd>
					</dl>
				</div>
				<div class="widget widget-event-venue">
					<h3 class="widget-title">Venue</h3>
					<dl>
						<dt>Venue: </dt>
						<dd class="venue">
							299 East Cocoa Beach
							{%comment-%}
							<a href="#">299 East Cocoa Beach</a>
							{%endcomment-%}
						</dd>
						<dd class="venue-location">
							<address>
								<span>
									<span>Patrick AFB</span>
									<br />
									<span>Los Angeles</span><span>,</span>
									<span>United States</span>
								</span>
								{%comment-%}<a class="events-gmap" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Patrick+AFB+Los+Angeles+United+States" target="_blank">+ Google Map</a>{%endcomment-%}
							</address>
						</dd>
					</dl>
				</div>
				
				<div class="widget widget-map">
					<iframe src="https://www.google.com/maps/embed/v1/place?q=3909+Witmer+Road.++Niagara+Falls,+NY+14305&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
				</div>
				{%endcomment-%}

				<div class="widget widget-event-related">
					<h3 class="widget-title">Featured Events</h3>
					<ul class="related-events">
						{module_booking filter="classified" itemId="67942" template="/ModuleTemplates/Events/sidebar-featured.tpl"}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>